pkgbase = python-deadlib
	pkgdesc = Python dead batteries. See PEP 594
	pkgver = 3.13.0
	pkgrel = 1
	url = https://github.com/youknowone/python-deadlib
	arch = any
	license = PSF-2.0
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	source = python-deadlib-3.13.0.tar.gz::https://github.com/youknowone/python-deadlib/archive/refs/tags/v3.13.0.tar.gz
	sha256sums = bde43692d5a1de2a33777ff99f4c4344f7cca3a49362b2484a13870706194613

pkgname = python-standard-aifc
	pkgdesc = Standard library aifc redistribution.
	depends = python
	depends = python-chunk
	depends = python-audioop
	provides = python-aifc
	conflicts = python-aifc

pkgname = python-standard-asynchat
	pkgdesc = Standard library asynchat redistribution.
	depends = python
	provides = python-asynchat
	conflicts = python-asynchat

pkgname = python-standard-asyncore
	pkgdesc = Standard library asyncore redistribution.
	depends = python
	provides = python-asyncore
	conflicts = python-asyncore

pkgname = python-standard-cgi
	pkgdesc = Standard library cgi redistribution.
	depends = python
	provides = python-cgi
	conflicts = python-cgi

pkgname = python-standard-cgitb
	pkgdesc = Standard library cgitb redistribution.
	depends = python
	provides = python-cgitb
	conflicts = python-cgitb

pkgname = python-standard-chunk
	pkgdesc = Standard library chunk redistribution.
	depends = python
	provides = python-chunk
	conflicts = python-chunk

pkgname = python-standard-crypt
	pkgdesc = Standard library crypt redistribution.
	depends = python
	provides = python-crypt
	conflicts = python-crypt

pkgname = python-standard-imghdr
	pkgdesc = Standard library imghdr redistribution.
	depends = python
	provides = python-imghdr
	conflicts = python-imghdr

pkgname = python-standard-mailcap
	pkgdesc = Standard library mailcap redistribution.
	depends = python
	provides = python-mailcap
	conflicts = python-mailcap

pkgname = python-standard-nntplib
	pkgdesc = Standard library nntplib redistribution.
	depends = python
	provides = python-nntplib
	conflicts = python-nntplib

pkgname = python-standard-pipes
	pkgdesc = Standard library pipes redistribution.
	depends = python
	provides = python-pipes
	conflicts = python-pipes

pkgname = python-standard-smtpd
	pkgdesc = Standard library smtpd redistribution.
	depends = python
	provides = python-smtpd
	conflicts = python-smtpd

pkgname = python-standard-sndhdr
	pkgdesc = Standard library sndhdr redistribution.
	depends = python
	provides = python-sndhdr
	conflicts = python-sndhdr

pkgname = python-standard-sunau
	pkgdesc = Standard library sunau redistribution.
	depends = python
	provides = python-sunau
	conflicts = python-sunau

pkgname = python-standard-telnetlib
	pkgdesc = Standard library telnetlib redistribution.
	depends = python
	provides = python-telnetlib
	conflicts = python-telnetlib

pkgname = python-standard-uu
	pkgdesc = Standard library uu redistribution.
	depends = python
	provides = python-uu
	conflicts = python-uu

pkgname = python-standard-xdrlib
	pkgdesc = Standard library xdrlib redistribution.
	depends = python
	provides = python-xdrlib
	conflicts = python-xdrlib
